#admin-home {

  .admin-form-background {
    width: 100%;
    height: auto;

    background-color: #fff;
  }

  .headline-container {
    width: 100%;
    height: 100%;
    padding: 8px;
  }

  .headline-image-container {
    width: 100%;
    height: 100%;
    padding: 8px
  }

}