:root {
  --color-sidebar-nav-title: var(--sidebar-nav-title);
  --background-bars: var(--bars-background);
  --scroll-background: rgba(0, 0, 0, 0.3);
  --scroll-width: 6px;
  --scroll-height: 991px;
  --scroll-border-radius: 500px 0px 0px 0px;
}

.sidebar {
  background-color: var(--background-bars);
  color: var(--default-text);

  position: fixed;
  top: 60px;
  left: 0;

  width: 20%;
  height: calc(100vh - 60px);

  display: flex;
  flex-direction: column;
  padding: 0px 16px 8px 16px;

  line-height: 1.5;
  font-weight: 400;

  overflow-y: auto;
  overflow-x: hidden;

  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  padding: 0px 8px 8px 0px;
}

/* Scrollbar Webkit */
.scroll-container::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-height);
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--scroll-background);
  border-radius: var(--scroll-border-radius);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/* Scrollbar Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-background) transparent;
}

.sidebar nav {
  width: 100%;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  cursor: pointer;
}

.sidebar nav ul li:hover {
  border-radius: 4px;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.sidebar.expanded {
  transform: translateX(0);
  border-right: 1px solid #E3E4E8;
}

.category-label {
  color: var(--color-sidebar-nav-title);

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 16px;

  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px;
}

.navigation {
  gap: 8px;
}

.nav-content {
  margin-top: 20px;
}

.content {
  transition: margin-left 0.4s;
}

.content.shifted {
  margin-left: 20%;
}
